<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>添加权限</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <link href="{$smarty.const.ADMIN_CSS_URL}mine.css" type="text/css" rel="stylesheet">
    </head>

    <body>

        <div class="div_head">
            <span>
                <span style="float:left">当前位置是：权限管理-》添加权限信息</span>
                <span style="float:right;margin-right: 8px;font-weight: bold">
                    <a style="text-decoration: none" href="{$smarty.const.__CONTROLLER__}/showlist">【返回】</a>
                </span>
            </span>
        </div>
        <div></div>

        <div style="font-size: 13px;margin: 10px 5px">
            <form action="{$smarty.const.__SELF__}" method="post" enctype="multipart/form-data">
            <table border="1" width="100%" class="table_a">
                <div>正在为角色 <{$role_name}> 设置权限 </div>
                <ul>
                    {foreach $level0 as $k0 => $v0}
                    <li>
                        {$v0.auth_name}<input type="checkbox" name="authname[]" value="{$v0.auth_id}"
                        {if in_array($v0.auth_id,$auth_ids)} checked="checked" {/if} />
                        {foreach $level1 as $k1 => $v1}
                        {if $v1.auth_pid == $v0.auth_id}
                        <ul>
                            {$v1.auth_name}<input type="checkbox" name="authname[]" value="{$v1.auth_id}"
                            {if in_array($v1.auth_id,$auth_ids)} checked="checked" {/if}/>
                            {foreach $level2 as $k2 => $v2}
                            {if $v2.auth_pid == $v1.auth_id}
                                <ul>
                                    {$v2.auth_name}<input type="checkbox" name="authname[]" value="{$v2.auth_id}"
                                    {if in_array($v2.auth_id,$auth_ids)} checked="checked" {/if}/>
                                </ul>
                            {/if}
                            {/foreach}
                        </ul>
                        {/if}
                        {/foreach}

                    </li>
                    {/foreach}
                </ul>
                <tr>
                    <td  align="center">
                        <input type="submit"  value="确认添加">
                    </td>
                </tr>  
            </table>
            </form>
        </div>
    </body>
</html>